*{
    box-sizing: border-box;
}


a,span, p{
    text-decoration: none !important;
    color: black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
}

h1, h2, h3, h4, h5, h6{
    text-decoration:solid;
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
}

.background{
    background-image: url("../Image/Background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.table{
    background: rgba(52, 201, 172, .4);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, .7);
    border-radius: 10px;
    font-size: 24px;
    color: white;
    margin-top: 20px;
}

.table a{
    color: white !important;
}

.table-title {        
	padding-bottom: 15px;
	background: #023459;
	padding: 16px 30px;
	min-width: 100%;
	border-radius: 10px 10px 0 0;
    overflow: auto;
}

.table-title h1 {
	margin: 5px 0 0;
    text-align: center;
}



table {
    width: 100% !important;
    border-collapse: collapse !important;
}

th, td {
    border-bottom: 1px solid #999 !important;
    text-align: center !important;
}

.table-title .btn{
    float: right;
    background: #B2A59F;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 0 5px;
    outline: none;
}

.table-title .btn img{
    float: left;
    margin-right: 5px;
}

.table-content img{
    cursor: pointer;
}

.table-content tbody tr:hover{
    background: rgb(30, 98, 135);
}

.modal-header{
    background-color: rgb(30, 98, 135);
    color: white;
    text-align: center;
}


.search-anime{
    display: flex;
    align-items: center;
}

#search-anime{
    padding: 5px;
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: none;
    font-size: 15px;
}

.search-btn{
    background: none;
    border: none;
    cursor: pointer;
    padding:0;
}

.search-btn img{
    width: 25px;
    height: 25px;
    vertical-align: middle;
}
