*{
    box-sizing: border-box;
    overflow-x: hidden;
}


a, h1, h2, h3, h4, h5, h6{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

.background{
    background-image: url("../Image/Background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.animes-list, .new-episodes{
    background: rgba(52, 201, 172, .4);
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
    margin-top: 10px;
}

.animes-list ul, .new-episodes ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.animes-list li, .new-episodes li{
    float: left;
}

.animes-list li a, .new-episodes li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

