*{
    box-sizing: border-box;
}


a,span, p{
    text-decoration: none !important;
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
}

h1, h2, h3, h4, h5, h6{
    text-decoration:solid;
    color: black !important;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS' !important;
}

.background{
    background-image: url("../Image/Background1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    filter: blur(3px);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.animes-list{
    background: rgba(52, 201, 172, .4);
    box-sizing: border-box;
    padding: 10px;
    z-index: 1;
    margin-top: 10px;
    position: relative;
}

.animes-list ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.animes-list li{
    flex-shrink: 0;
}

.animes-list li a{
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.animes-list img{
    width: 50%;
    height: auto;
    display: block;
    margin: 0 auto;
}

.carousel-animes{
    display: flex;
    align-items: center;
    position: relative;
    overflow: hidden;
    width: 100%;
    margin: 0 auto;
}

.carouselA{
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.carouselA ul{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
    gap: 10px;
}

.carouselA::-webkit-scrollbar{
    height: 8px;
}

.carouselA::-webkit-scrollbar-thumb{
    background-color:  rgb(30, 98, 135);
    border-radius: 4px;
}

.carouselA li{
    flex-shrink: 0;
    min-width: 100px;
    margin: 5px;
    text-align: center;
}

button.prev-animes, button.next-animes{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    z-index: 2;
}

button.prev-animes{
    left: 10px;
}

button.next-animes{
    right: 10px;
}

.image-container{
    position: relative;
    display: inline-block;
    width: 100%;
}

button.delete-anime{
    position: absolute;
    background: none;
    top: 15px; 
    right: 85px; 
    border: none;
    padding: 0;
    cursor: pointer;
    z-index: 2;
}

.delete-anime img{
    width: 20px;
    height: 20px;
}

.modal-header{
    background-color: rgb(30, 98, 135);
    color: white;
    text-align: center;
}

